<html>
    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <h1>admin interface</h1>
        <div class="container">
        <table>
            
        {% for acc in account %}
        <tr>   
        <td>{{ acc.email }}</td>
          <td> {{ acc.username }}</td>
          <td> {{acc.field }}</td>
           <td>{{acc.occupation }}</td>
           <td>{{ acc.year }} </td>
           <td><input class="btn btn-warning" placeholder="waiting for verfication"> {{ acc.validity }}</td>

        </tr>
        {% endfor %}
        </table>
    </div>
    </body>

</html>
